<!doctype html>
<html lang="en" ng-app="MiHexample">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Make It Happen</title>
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="css/app.css">

        <script src="node_modules/jsonforms/dist/jsonforms.js"></script>
        <script src="node_modules/angular-resource/angular-resource.js"></script>

        <script src="tasks.js"></script>
        <script src="task_schema.js"></script>
        <script src="task_uischema.js"></script>
        <script src="task_service.js"></script>
        <script src="renderer/array-directive.js"></script>
        <script src="renderer/boolean-directive.js"></script>
    </head>
    <body style="max-width:1200px; margin:1vw auto;" ng-controller="TasksController as tc">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <strong>Make it happen Example</strong>
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading clearfix">
                                <button role="button" class="btn btn-default pull-right" aria-label="Left Align" ng-click="tc.addNew()">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button>
                                <h3 class="panel-title" style="line-height:34px;">
                                    <strong>Task List</strong>
                                </h3>
                            </div>
                            <div class="panel-body" style="line-height: 2.0">
                                <small class="muted">Click on a task item to view its details.</small>
                                <ul class="nav nav-pills nav-stacked">
                                    <li ng-repeat="task in tc.tasks track by task.id">
                                        <a ng-click="tc.selectDetail(task.id)">{{task.name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="panel panel-primary" ng-if="tc.taskData">
                            <div class="panel-heading clearfix">
                                <div class="btn-group pull-right" role="group">
                                    <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="tc.save()">
                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="tc.remove()">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </button>
                                </div>
                                <h3 class="panel-title" style="line-height:34px;">
                                    <strong>Task Detail</strong>
                                </h3>
                            </div>
                            <div class="panel-body jsf" style="line-height: 2.0">
                                <jsonforms schema="tc.taskSchema" ui-schema="tc.taskUISchema" data="tc.taskData"></jsonforms>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
